.iss-cpa {
    display: inline-block;
  }
  
  
  
  input {
    border-radius: none;
  }
  .quick-login-outer {
    width: auto;
    padding: 0 40px;
  }
  .login-title {
    margin-top: 80px;
    color: #333;
    font-size: 48px;
    font-weight: 500;
    line-height: 66px;
  }
  
  .login-title-tips {
    font-size: 28px;
    color: #aaa;
    font-weight: 400;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 120px;
  }
  .cpa-checkbox-outer{
    margin-top:36px;
  }
  .cpa-checkbox-outer .text{
    font-size:28px;
    font-weight: 400;
    color: #AAA;
  }
  .cpa-checkbox-outer .iss-cpa{
     font-size:28px;
    font-weight: 400;
    color: #4A90E2
  }
  button{
    height: 96px;
    border-radius: 4px;
    line-height: 96px;
    margin-top: 100px;
  }
  .btn-activity{
    color: #FFF;
    background-color: #4A90E2;
    box-shadow: 0px 4px 16px 0px rgba(0,155,255,0.2);
    
  }
  